@import '../../book/book.component';

.ms-alert{
    font-size: 14px;
}

.bookEdit{
    flex-wrap: wrap;

    @include desde($medium){
        display: block;
     }

     &__content{
        width: 200px;
        @include desde($medium){
            margin: 0 auto 30px;
         }
     }
}

.form-group{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    color: $primary-darker;
    @include desde($medium){
        display: block;
        width: 40%;
        margin: 0 auto 10px;
     }
}
.label-f {

    display: inline-block;
    width: 100px;
    position: relative;
    left: -100px;
    @include desde($quarter){
        left: 0;
     }
}

.input-f{
    width: 300px;
    height: 25px;
    border: 1.5px solid #ccc;
    border-radius: .25rem;
    padding-left: 10px;
    background-color: #FFF;

    &.textarea{
        height: 50px;
    }
}

:focus{
    outline: none;
    border: 1.5px solid $primary-light;
}