
<div class="search__container">
<nav>
    <ul class="menu">
      <a routerLink="./">
        <div class="menu__icon__content">
          <!-- <img class="menu__icon imgNavb" src="assets/img/logo_granada.png" id="imgNavb"> -->
        </div>
      </a>
      <div class="menu__container icons" id="icons" >  
        
        <img class="menu__icon__item" src="assets/img/search.png" #searchIcon >
        
        <a routerLink="book/new">
            <img class="menu__icon__item" src="assets/img/add.png">
        </a>
      </div>    
      <div class="menu__container__desk desk" id="desk" >
        <h3 class="menu__title">Título</h3>
        <input class="input-f" type="text" name="title" id="title" (keyUp.enter)="searchBook(searchText1.value)" #searchText1>
        <button class="book__info__btn outline menu__btn" type="button" routerLink="book/new">Crear Nuevo</button>
      </div>
    </ul>
  </nav>

  <div class="search" id="search" #search>
    <input class="input-f search__input" type="text" name="title" id="searchTitle"  (keyUp.enter)="searchBook(searchText.value)" #searchText>
  </div>

</div>