<nav>
    <ul class="menu">
      <a routerLink="./">
        <div class="menu__icon__content">
          <img class="menu__icon" src="assets/img/logo_granada.png" id="imgNavb">
        </div>
      </a>
      <div class="menu__container" id="icons">  
        <a routerLink="./">
            <img class="menu__icon__item" src="assets/img/search.png" >
        </a>
        <a routerLink="book/new">
            <img class="menu__icon__item" src="assets/img/add.png">
        </a>
      </div>    
      <div class="menu__container__desk" id="desk">
        <h3 class="menu__title">Titulo</h3>
        <input class="input-f" type="text" name="title" id="title" (keyUp.enter)="searchBook(searchText.value)" #searchText>
        <button class="book__info__btn outline menu__btn" type="button" routerLink="book/new">Crear Nuevo</button>
      </div>
    </ul>
  </nav>