@import '../../pages/book/book-edit/book-edit.component';
nav{
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color:$primary-darker;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
    margin-bottom: 2em;
    height: 50px;
  }
  
  .menu {
   list-style-type: none; 
   text-align: center;
   display: table;
   margin:0 auto;

   &__container{
     position: absolute;
     right: 10px;
     top: 10px;

     & a{
       display: inline-block;
       margin-left: 30px;
     }

     &__desk {
      margin-top: 10px;
      .menu__title{
        display: inline-block;
        margin-right: 10px;  
        color: $white;
     }
    }
   }

   &__item{
    float: left;
    margin: 0;
    &:hover{
        background-color: rgba(0,0,0,0.3);
      }
  }

  &__link{
    display: block;
    text-decoration: none;
    padding: 1em 1.5em;
    color: $white;
  }

  &__icon{
      position: absolute;
      width: 100px;
      left: 10px;
      top: 10px;   
  }

  &__btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
    border: 1px solid $primary-darker;
  }
  
}
  
  


  
  